simplified_ui true
pane_frames false

layout {
    default_tab_template {
        pane
        pane size=1 borderless=false {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[fg=black]{tabs}"
                format_center ""
                format_right  "{mode} #[fg=#6867AF]{session} #[fg=#6867AF,bold]{datetime}"
                format_space  "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                border_enabled  "false"
                
                mode_normal   "   "
                mode_locked   "#[fg=red]  "
                mode_session  "#[fg=red] SESSION "
                mode_tab      "#[fg=red]  "
                mode_pane     "#[fg=red]  "
                mode_scroll   "#[fg=red] 󰮾 "
                mode_search   "#[fg=red]  "
                mode_enter_search  "#[fg=red]  "
                mode_move     "#[fg=red] 󰆾 "
                mode_resize   "#[fg=red] 󰙖 "
                // mode_rename_tab    "#[bg=#89B4FA] {name} "
                // mode_rename_pane   "#[bg=#89B4FA] {name} "
                
                // mode_prompt        "#[bg=#89B4FA] {name} "

                // formatting for inactive tabs
                tab_normal              "#[fg=#6C7086]{name}"
                tab_normal_fullscreen   "#[fg=#6C7086]{name}"
                tab_normal_sync         "#[fg=#6C7086]{name}"

                // formatting for the current active tab
                tab_active              "#[fg=blue,bold]{name}#[fg=yellow,bold]{floating_indicator}"
                tab_active_fullscreen   "#[fg=yellow,bold]{name}#[fg=yellow,bold]{fullscreen_indicator}"
                tab_active_sync         "#[fg=green,bold]{name}#[fg=yellow,bold]{sync_indicator}"

                // separator between the tabs
                tab_separator           "#[fg=cyan,bold] ⋮ "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator "  "
                tab_floating_indicator   " "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%H:%M"
                datetime_timezone "Europe/London"
            }
        }
    }
    tab name="  " focus=true borderless=false
}

keybinds {
    shared {
        bind "Alt 1" { NewTab; }
        // bind "Alt 2" { GoToNextTab; }
        // bind "Alt 3" { CloseTab; }
    }
}
