gui:
  # https://github.com/jesseduffield/lazygit/issues/4288
  switchTabsWithPanelJumpKeys: true
  # Whether to add a "/" root item in the file tree
  showRootItemInFileTree: false
  # Use Catppuccin Mocha with blue accent
  # https://github.com/catppuccin/lazygit/blob/main/themes/mocha/blue.yml
  theme:
    activeBorderColor:
      - "#89b4fa"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#89b4fa"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
  authorColors:
    "*": "#b4befe"
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never
keybinding:
  universal:
    undo: "u"
    redo: "U"
